@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common tags  */
*,*::after,*::before,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    
    background-color: #FFFFFF;
}
:root{
    --primary-color: #E02C6D;
    --secondary-color: #3A3A3A;
    --btn-color: #FFFFFF;
    

}
/* start the header style tags  */
nav{
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
}
nav h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: var(--secondary-color)s;
}
.nav_items{
    display: flex;
}
.nav_items a{
    margin-left: 20px;
}

.nav_items ul{
    display: flex;
    list-style: none;    
    align-items: center;
}
.nav_items ul li{
    margin-left: 30px;
}
.nav_items ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

/* start the main tags  */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.banner{
    width: calc(100% - 17%);
    display: flex;
    justify-content: center;
}
.circle{
    width: 475px;
    height: 475px;
}
.half_width{
    width: 50%;
}
/* banner left side  */
.banner_text{
    order: 1;
}
.banner_text h1{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    color: var(--secondary-color);
}
.banner_text p{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
}
 .btn{
    text-decoration: none;
    color: var(--btn-color);
    background-color: var(--primary-color);
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 40px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn svg{
    position: absolute;
    margin-left: 5px;
}
/* banner right side  */

.banner_image{
    position: relative;
    text-align: end;
    order: 2;
}
.banner_image .cemera{
    /* z-index: 99; */
    position: absolute;
    width: 440px;
    height: 414px;
    right: 0;
    background-color: transparent;
}
/* start the branding section tags  */
#branding{
    width: 1110px;
    margin: 100px 0;
   
}
#branding hr{
    background-color: var(--secondary-color);
    opacity: 0.2;
}
.populer_brand{
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}
.populer_brand img{
    padding: 20px;
}

/* producst sectio tags  */
#products{
    width: 1047px;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
.products_title{
    margin: 30px 0;
}
.products_title h2{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: var(--secondary-color);  
    line-height: 70px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.product_details{
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.247));
}
.product_details img{
    width: 100%;
}
.product_details h3{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    color: var(--secondary-color);
}
.product_details h4{
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: var(--secondary-color);
    margin: 15px 0;
}
.rank{
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.rank span{
    font-size: 14px;
    line-height: 22px;
    color: var(--secondary-color);
}
.product_details p{
font-weight: bold;
font-size: 14px;
line-height: 143%;
letter-spacing: 0.018em;
color: var(--secondary-color);
margin-top: 1px;
margin-bottom: 20px;
}
.more_products{
    text-align: end;
    padding: 30px 0;
}
.more_products a{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
    text-decoration: none;
    position: relative;
    padding: 20px;
    align-items: center;
    opacity: 1;
    transition: 300ms ease-in-out;
}
.more_products a svg{
    position: absolute;
    top: 25px;
    right: -5px;
}
.more_products a:hover{
    opacity:0.8;
}
/* start the footer tags  */
footer{
    background-color: #0A0826;
    width: 100%;
}
.footer_items{
    padding: 50px 0;
    text-align: center;
}
.footer_items h2{
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
    font-feature-settings: 'liga' off;
    margin-bottom: 15px;
}
.footer_items p{
    color: #D9DBE1;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;

}
.social{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.social a{
    margin: 15px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 50%;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
}
/* contact style tags */
.contact{
    width: 1047px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px;
}
.contact .contact_image{
    text-align: center;
}
.contact .contact_image img{
    width: 90%;
}
.contact_text h2{
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.contact_text p{
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 24px;
    margin-bottom:20px ;
}
.contact_text form input{
    padding: 7px  12px;
    border-radius: 20px;
    width: 80%;
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--primary-color);
    border: 1.6px solid var(--primary-color);
}
.contact_text form input::placeholder{
    color: #8a3554c5;
}
.contact_text form input:focus{
    outline: 3px solid #e02c6e3d;
}

/* responsive mobile phone style tags */
@media screen and (max-width: 767px) {
    
    nav{
        padding: 50px 20px;
 
    }
    nav h2{
        font-size: 20px;
        line-height: 30px;
    }
    .nav_items ul{
        display: none;
    }
    .nav_items a{
        margin-right: 20px;
    }
    .banner{
        flex-direction: column;
        width: 100%;
    }
    .half_width{
        width: 90%;
    }

    .banner_image{
        order: 1;
        
        text-align: center;
    }
    .banner_text{
        order: 2;
        text-align: center;
    }
    .banner_text h1{
        font-size: 28px;
        line-height: 42px;
        text-align: center;
    }
    .circle{
        width: 257px;
        height: 257px;
    }
    .banner_image .cemera{
        position: absolute;
        width: 202px;
        height: 190px;
        top: 10%;
        right: 60%;
        left: 35%;
        /* transform: translate(50% 50%); */
        background-color: transparent;
    }
   
    #branding{
        width: 100%;
    }
    .populer_brand{
        grid-template-columns: repeat(1, 1fr);
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    #products{
        width: 95%;
    }
    .product_details{
        margin-bottom: 30px;
    }
    .contact{
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }
    .contact_image,
    .contact_text{
        width: 100%;
    }
    .contact_image img{
        width: 100%;
    }


}

/* responsive tablet style tags */
@media screen and (min-width:768px) and (max-width:1147px) {
    
    /* header stlye tags  */
    nav{
        padding: 50px;
    }
    nav h2{
        font-size: 20px;
        line-height: 30px;
    }

    .nav_items ul li{
        margin-left: 15px;
    }
    .nav_items ul li a{
        
        font-weight: 300;
        font-size: 12px;
        line-height: 20px;
    }
    .nav_items a{
        margin-left: 10px;
    }
    /* banner style tags  */

    .banner{
        width: 95%;
        justify-content: center;
    }
    .banner_image .cemera{
        position: absolute;
        width: 302px;
        height: 290px;
        top: 70px;
        right: 50px;
        background-color: transparent;
    }
    /* branding style tags  */
    #branding{
        width: 100%;
    }
    .populer_brand{
        grid-template-columns: repeat(2, 1fr);
    }
    /* products style tags  */
    #products{
        width: 90%;
        align-items: center;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        
        place-items: center;
    }
    /* contact style tags  */
    .contact{
        width: 90%;
    }
}
/* responsive small tablet style tags  */
@media screen and (min-width:768px) and (max-width:968px) {
    /* banner style tags  */
    .banner{
        width: 95%;
        flex-direction: column;
        justify-content: center;
    }
    .half_width{
        width: 90%;
    }
    .banner_image{
        order: 1;
        text-align: center;
    }
    .banner_image .cemera{
        position: absolute;
        width: 302px;
        height: 290px;
        top: 70px;
        right: 200px;
        background-color: transparent;
    }
    .banner_text{
        order: 2;
        text-align: center;
        width: 90%;
    }
    /* contact style tags  */
    .contact{
        grid-template-columns: repeat(1, 1fr);
        width: 95%;
    }
    .contact_image,
    .contact_text{
        width: 100%;
    }
  
}